<div id="<%= dom_id dessert %>">
  <h1>
    <strong>Name:</strong>
    <%= dessert.name %>
  </h1>

  <p>
    <strong>Description:</strong>
    <%= dessert.description %>
  </p>

  <p>
    <strong>Types:</strong>
    <%= dessert.types.map(&:name).sort.join('ðŸ¨ ') %>
  </p>

</div>
